<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
  <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" /> -->
  <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
  <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>

  </head>
   <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Scribeley</a>
          <div class="nav-collapse collapse">
            
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Other Blog Posts</li>
              <li class="active"><a href="#">Link</a></li>
              <!-- if there are other blogs posts, put top 5 recent ones here -->
              <li class="nav-header">Other Blogs by This Person</li>
              <!-- if there are other blogs by this person, put top 5 recent ones here -->
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Nicole's Blog</h1>
            <p>A testing blog for testing</p>
            <!-- <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
          </div>
           <form action="/sign?blog_name={{ blog_name }}" method="post">
          <div><textarea name="content" rows="3" cols="60"></textarea></div>
          <div><input type="submit" value="Sign Guestbook"></div>
          </form>

    <hr>

    <form>Guestbook name:
      <input value="{{ blog_name }}" name="blog_name">
      <input type="submit" value="switch">
    </form>

    <hr>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>
          <div>
            {% for blogpost in blogposts %}
            <div class="span12">
              {% if blogpost.author %}
               <b>{{ blogpost.author.nickname() }}</b> wrote:
              {% else %}
                An anonymous person wrote:
              {% endif %}
             
              <h2>Heading</h2>
              <p>{{ blogpost.content }}</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            {% endfor %}
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
{% endautoescape %}
