
<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
  <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" /> -->
  <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
  <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>

  </head>
   <body>

     <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Scribeley</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if user %}
              <li><a href="/user/">Home</a></li>
              <li><p class="navbar-text pull-right">Logged in as {{ username }}</p></li>
              <li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
              {% else %}
              <li><p class="navbar-text pull-right"><a href="{{ url|safe }}">Login</a></p></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- end of nav -->

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          {% if user %}
            <li class="nav-header">Your Blogs</li>
            {% for blog in blogs %}
            <div>
            <li><a href="/blog/{{blog.authorname}}/{{blog.urltitle}}/">{{ blog.title }}</a></li>
            </div>
            {% endfor %}
          {% endif %}
          <li class="nav-header">Tags of {{blog_name}}</li>
          {% for tag in blog_tags %}
          <div>
          <li><a href="/search/{{authorname}}/{{blog_urltitle}}/{{tag}}/">{{tag}}</a></li>
          </div>
          {% endfor %}
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <div class="hero-unit">
        <h1>{{ blog_name }}</h1>
        <h4>by {{ authorname }}</h4>
      </div>
      {% if owner %}
      <h2>New Post</h2>
      <form action="/blog/{{authorname}}/{{blog_urltitle}}/" method="post">
          Title<div><textarea id="blogpost_title" name="blogpost_title" rows="1" cols="60"></textarea>
          </div>
          Content<div><textarea id="blogpost_content" name="blogpost_content" rows="5" cols="60"></textarea></div>
          Tags (separated by commas) <div><textarea id="blogpost_tags" name="blogpost_tags" rows="1" cols="60"></textarea></div>
          <div><input type="submit" value="post dat post"></div>
      </form>
      {% endif %}
      <h2>Previous Posts</h2>
      {% for blogpost in blogposts %}
      <div class="span8">
        <h3>{{blogpost.title|safe}}</h3>
        <h4>{{blogpost_content[blogpost.title]|safe}}</h4>
        <h6>{{blogpost.date}}</h6>
        <h6>tags |
        {% for tag in blogpost.tags %}
          <a href="/search/{{authorname}}/{{blog_urltitle}}/{{tag}}/">{{tag}} </a>  
        {% endfor %}
        </h6>
        <button type="button" class="btn btn-default"><a href="/post/{{authorname}}/{{blog_urltitle}}/{{blogpost.title}}/view">view more</a></button>
      </div>
      {% endfor %}
      {% if moreposts %}
      <div class="span8">
      <button type="button" class="btn btn-inverse pull-right"><a href="/blog/{{authorname}}/{{blog_urltitle}}/{{ page_counter|int + 1 }}">older posts</a></button>
      </div>
      {% endif %}
    </div>
</div><!--/.fluid-container-->

</body>
</html>
{% endautoescape %}
