
<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
  <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" /> -->
  <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
  <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      p.error {
          color: #E3A030;
      }
    </style>

  </head>
   <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://scribeley.appspot.com">Scribeley</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if user %}
              <li><a href="/user/">Home</a></li>
              <li><p class="navbar-text pull-right">Logged in as {{ username }}</p></li>
              <li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
              {% else %}
              <li><p class="navbar-text pull-right"><a href="{{ url|safe }}">Login</a></p></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- end of nav -->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Your Blogs</li>
              {% for blog in blogs %}
              <div>
              <li><a href="/blog/{{blog.authorname}}/{{blog.title}}/">{{blog.title}}</a></li>
              </div>
              {% endfor %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Welcome, {{ username }}!</h1>
          </div>
          <p>Only use letters, numbers, and hyphens</p>
          {% if error %}
          <p class="error">{{ error }}</p>
          {% else %}
          <p>Create a new blog titled...</p>
          {% endif %}
          <form action="/user/" method="post">
              <div><textarea id="blog_title" name="blog_title" rows="1" cols="60"></textarea></div>
              <div><input type="submit" value="gimme the blog"></div>
          </form>
        </div>
    </div><!--/.fluid-container-->
  </body>
</html>
{% endautoescape %}
